# Dependencies
node_modules/
**/node_modules/

# Environment / secrets (JANGAN pernah commit)
.env
**/.env
.env.local
**/.env.local

# Prisma generated client
**/node_modules/.prisma/

# Logs
*.log
npm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Vercel
.vercel
**/.vercel
